{% extends 'blog/base.html' %}

{% block title %} Herramientas Jennifersd  {% endblock %}
{% block description %} Herramientas Jennifersd {% endblock %}
{% block id %} tools {% endblock %}
{% block classes %} menu-background {% endblock %}


{% block content %}
<section class="drawer -comming-soon">
	<div class="blocks-container">
		<div class="block-comming-soon">
			<div class="block-comming-soon-content">
			    <h1>Estará disponible muy pronto ...</h1>
			    <h2>No te pierdas nada, nada de nada. Vuelve dentro de unos días o descubre <a href="/">otras secciones</a></h2>
			   <div class="comming-soon-img">
			   		<div>
			   			<img src="/static/img/img-comming-soon.png"/>
			   		</div>
			   </div>
			</div>
	    </div>
    </div>
</section>
{% endblock %}