<footer>
	<div class="footer-container">
		<h1><a href="/">Thegadgetsbox</a></h1>
		
		<div class="social-link-footer">
			<span>Síguenos</span>
			<ul>
				<li><a target="_blank" href="https://www.facebook.com/thgadgetsbox/"><img src="/static/img/facebook.png"/></a></li>
				<li><a target="_blank" href="https://twitter.com/the_gadgetsbox"><img src="/static/img/twitter.png"/></a></li>
				<li><a target="_blank" href="https://www.instagram.com/thegadgetsbox/"><img src="/static/img/instagram.png"/></a></li>
			</ul>
		</div>
		
		<nav class="site-nav-footer">
			<ul class="_nav-items-footer">
				<li class="_nav-item-footer"><a href="/">Inicio</a></li>
				<li class="_nav-item-footer"><a href="/blog">Últimas noticias</a></li>
				<li class="_nav-item-footer"><a href="/contacto">Contacto</a>
			</ul>
		</nav>
		
	</div>
</footer>