<footer>
	<div class="footer-container">
		<h1><a href="/">Jennifersd</a></h1>
		
		<nav class="site-nav-footer">
			<ul class="_nav-items-footer">
				<li class="_nav-item-footer"><a href="/">Inicio</a></li>
				<li class="_nav-item-footer"><a href="/blog">Blog</a></li>
				<li class="_nav-item-footer"><a href="/recursos">Recursos</a></li>
				<li class="_nav-item-footer"><a href="/herramientas">Herramientas</a></li>
				<li class="_nav-item-footer"><a href="/servicios-web">¿Cuánto cuesta crear tu web?</a></li>
				<li class="_nav-item-footer"><a href="/contacto">Contacto</a>
			</ul>
		</nav>
		
	</div>
</footer>