<div style="display:none;" class="header-admin">
	<nav>
		<ul>
			{% if user.is_authenticated %}
				<li class="_nav-item">
				    <a href="{% url 'blog:new_post' %}" >Nuevo post</a>
				</li>
				<li class="_nav-item"><a href="{% url 'blog:list_of_post_backend' %}">Listado de post</a></li>
				<li class="_nav-item"><a>Hello {{ user.username }}</a></li>
				<li class="_nav-item">
					<a href="{% url 'logout' %}">Log out</a>
				</li>
				{% else %}
				<li class="_nav-item">
				    <a href="{% url 'login' %}">Log in</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
<header class="header-wrap">
	<div class="header-container">
		<h1><a href="/">Jennifersd</a></h1>
		<div class="burger-container">
	      <div id="burger">
	        <div class="bar topBar"></div>
	        <div class="bar btmBar"></div>
	      </div>
	    </div>
		<nav class="site-nav">
			<ul class="_nav-items">
				<li class="_nav-item"><a href="/">Inicio</a></li>
				<li class="_nav-item"><a href="/blog">Blog</a></li>
				<li class="_nav-item"><a href="/recursos">Recursos</a></li>
				<li class="_nav-item"><a href="/herramientas">Herramientas</a></li>
				<li class="_nav-item"><a href="/servicios-web">¿Cuánto cuesta crear tu web?</a></li>
				<li class="_nav-item"><a href="/contacto">Contacto</a>
			</ul>
		</nav>
		
	</div>
</header>



