{% extends 'blog/base.html' %}

{% block title %} Jennifersd | Home {% endblock %}
{% block description %} Jennifersd {% endblock %}
{% block id %} home {% endblock %}

{% block content %}
<section class="drawer -material">
	<div class="blocks-container">
		<div class="-material-block-text">
			<div class="wrapper">
				<h1>Diseño, tecnología y mucho más</h1>
				<h2>Hablemos de todo un poco, que pasa en nuestro mundo, cada día es un día diferente y alguien tendrá algo nuevo que gustará a muchos. ¡Vamos no te lo pierdas!</h2>
				<div class="list-button-header">
					<a id="button-header-blog" href="/blog">Descubre más en <strong>blog</strong></a>
					<a id="button-header-recursos" href="/recursos">Quieres aprender, visita <strong>recursos</strong></a>
				</div>
			</div>
		</div>
	</div>
</section>
	
<section class="drawer -blog">
	<div class="blocks-container">
		<h3>Últimas entradas, no te lo pierdas</h3>
		<p class="text-blog-home">Descubre las últimas entradas, tecnología, fotografía, diseño y mucho más. ¡Hablemos de todo un poco!</p>
		<div class="content-list-blog-home">
			<ul class="list-blog-home">
				{% for post in posts %}
					<li>		
						<h2><a href="{{post.get_absoulte_url}}">{{ post.title }}</a></h2>
						<p>{{ post.content|truncatewords:15 }}</p>
						<small>{{ post.author.get_full_name }}</small>
						{% if post.image  %}
							<div class="img-list-blog-home">
								<a href="{{post.get_absoulte_url}}">
									<img src="{{ post.image.url }}">
								</a>
							</div>
						{% endif %}
						<div class="bottom-list-blog-home">
							<div class="categories-list-blog-home">
								<a href="{{post.category.get_absoulte_url}}">{{ post.category }}</a>
							</div>
							<div class="date-list-blog-home"> {{ post.published }}</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
   	</div>
</section>

<section class="drawer -resources">
	<div class="blocks-container">
		<h3>Una pequeña colección de recursos</h3>
		<p class="text-resources-home">¿Te mola aprender? ¡A mi también y por supuesto compartirlo! Descubre algunos recursos que te ayudarán</p>
		<div class="content-resources">
			<div class="center-content-resources">
				<img src="/static/img/bg-recursos.png"/>
			</div>	
		</div>
   	</div>
</section>

<section class="drawer -web">
	<div class="blocks-container">
		<div class="content-web flex">
			<div class="left-content-web">
				<h3>¿Cúanto vale la web que quieres?</h3>
				<p>Qué no te den gato por liebre, todo tiene un precio. Pero cuidado debes tener en cuenta todo lo que necesitas, el tiempo, la tecnología etc ¡Venga no cuesta nada! </p>
				<a>Descubre cuanto vale la web que <strong>deseas</strong></a>
			</div>
			<div class="right-content-web">
				<div>
					<img src="/static/img/img-web.png"/>
				</div>
			</div>
		</div>
	</div>
</section> 
{% endblock content %}