{% extends 'blog/base.html' %}

{% block title %} Thegadgetsbox Productos  {% endblock %}
{% block description %} Thegadgetsbox últimos productos de tecnología, innovación, hogar etc {% endblock %}
{% block id %} products {% endblock %}
{% block classes %} menu-font-color {% endblock %}

{% block content %}
{% for  product in products|slice:":1" %}
<section class="blogs -post" style="background-image:url({{ product.image.url }})">
	<div class="blocks-container">
		<div class="-post-block-text">
			<div class="wrapper">
				<h1>{{ product.title }}</h1>
				<h2>{{ product.content|truncatewords:25 }}</h2>
				<div class="list-button-post">
					<a id="button-header-post" href="{{product.url_store}}">Ver <strong>product</strong></a>
				</div>
			</div>
		</div>
	</div>
	
</section>
{% endfor %}

<section class="drawer -post-list">
	<div class="blocks-container">
	
		<div class="ads-google">
			<div class="ads-google-content">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Anuncios Blog | Thegadgetsbox -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-3656409043426681"
				     data-ad-slot="8680965252"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		
		<h3>Últimas entradas, no te lo pierdas</h3>
		<p class="text-blog-list">Descubre las últimas entradas, tecnología, fotografía, diseño y mucho más. ¡Hablemos de todo un poco!</p>
		
		
		<div class="content-list-blog">
			<ul class="list-blog">
				{% for product in products %}
					<li>		
						<h2><a href="{{product.url_store}}">{{ product.title }}</a></h2>
						<small>{{ product.author.get_full_name }}</small>
						{% if product.image  %}
							<div class="img-list-blog">
								<a href="{{product.url_store}}">
									<img src="{{ product.image.url }}">
								</a>
							</div>
						{% endif %}
						<p>{{ product.content|truncatewords:15 }}</p>
						<div class="bottom-list-blog">
							<div class="categories-list-blog">
								<a href="{{product.category.get_absolute_url}}">{{ product.category }}</a>
							</div>
							<div class="date-list-blog"> {{ product.published }}</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% include 'products/paginator.html' with page=products %}
		</div>
		<div class="ads-google">
			<div class="ads-google-content">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Anuncios Blog 2 | Thegadgetsbox -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-3656409043426681"
				     data-ad-slot="1157698453"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
   	</div>
</section>

<section class="-post-social">
	<div class="social-link-post">
		<span>Síguenos</span>
		<ul>
			<li><a target="_blank" href="https://www.facebook.com/thgadgetsbox/"><img src="/static/img/facebook.png"/></a></li>
			<li><a target="_blank" href="https://twitter.com/the_gadgetsbox"><img src="/static/img/twitter.png"/></a></li>
			<li><a target="_blank" href="https://www.instagram.com/thegadgetsbox/"><img src="/static/img/instagram.png"/></a></li>
		</ul>
	</div>
</section>

{% endblock content %}