{% extends 'products/base.html' %}

{% block title %}{{ store.name }} | Thegadgetsbox{% endblock %}
{% block description %}{{ store.name }}{% endblock %}
{% block id %} store-{{ store.name }} {% endblock %}
{% block classes %} menu-background {% endblock %}

{% block content %}


<section class="drawer -post-list">
	<div class="blocks-container">
		<div class="ads-google">
			<div class="ads-google-content">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Anuncio Categorias | Thegadgetsbox -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-3656409043426681"
				     data-ad-slot="2634431659"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		
		<h3>Últimas entradas de {{ store.name }}</h1></h3>
		<p class="text-blog-list">Descubre las últimas entradas relacionadas con {{ store.name }}. Y no te pierdas el resto de categorías.</p>
			
		<div class="content-list-blog">
			<ul class="list-blog">
				{% for product in products %}
					<li>		
						<h2><a href="{{product.get_absolute_url}}">{{ product.title }}</a></h2>
						<p>{{ product.content|truncatewords:15 }}</p>
						<small>{{ product.author.get_full_name }}</small>
						{% if product.image  %}
							<div class="img-list-blog">
								<a href="{{product.get_absolute_url}}">
									<img src="{{ product.image.url }}">
								</a>
							</div>
						{% endif %}
						<div class="bottom-list-blog">
							<div class="categories-list-blog">
								<a href="{{product.category.get_absolute_url}}">{{ product.category }}</a>
							</div>
							<div class="date-list-blog"> {{ product.published }}</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			{% include 'products/paginator.html' with page=products %}
			
			
		</div>
		<div class="ads-google">
			<div class="ads-google-content">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Anuncios Categorias 2 | Thegadgetsbox -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-3656409043426681"
				     data-ad-slot="4111164850"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
   	</div>
</section>

{% endblock %}